<a href="/articles"><h3>{{ article.title }}</h3></a>
<a href="/articles/{{ article.id }}/edit">edit</a>

<p>{{ article.created }}</p>
<img src="{{ article.image }}" alt="{{ article.title }}">
<p>{{ article.text }}</p>
